argcomplete==1.9.4
asn1crypto==0.24.0
astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
aws-shell==0.2.1
aws-xray-sdk==2.4.1
awscli==1.16.38
beautifulsoup4==4.7.1
boto3==1.10.34
botocore==1.13.34
c7n==0.8.32.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
check-reserved-instances==0.0.10
Click==7.0
colorama==0.3.9
configobj==5.0.6
configparser==3.7.1
cryptography==2.4.2
defusedxml==0.5.0
docutils==0.14
Flask==1.0.2
future==0.17.1
gimme-aws-creds==1.1.4
idna==2.8
isort==4.3.4
itsdangerous==1.1.0
Jinja2>=2.10.1
jira==2.0.0
jmespath==0.9.3
jsonpatch==1.23
jsonpickle==1.1
jsonpointer==2.0
jsonschema==2.6.0
keyring==10.6.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.3.0
newrelic==4.4.1.104
oauthlib==3.0.0
okta==0.0.4
pbr==5.1.1
pluggy==0.8.0
ply==3.10
prompt-toolkit==1.0.15
py==1.10.0
pyasn1==0.4.4
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.2.0
pyhcl==0.3.9
PyJWT==1.7.1
pylint==2.1.1
pytest==4.0.0
python-dateutil==2.7.3
PyYAML==5.1
rdspg==0.1.9
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.2.1
six==1.11.0
slackclient==1.2.1
soupsieve==1.9.1
tabulate==0.8.2
terraform-validate==2.5.0
terrascan==0.1.0
urllib3==1.24.2
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.15.3
wrapt==1.10.11
